.menu{
      list-style: none;
      display: flex;
      justify-content:space-between;
      background-color: #3300339;}
.menu a{
text-decoration:
none;
color:black;
font-size: 25px;
font-weight: bold;
line-height: 45px;
}

.menu a: houver{
     color: white;


}
